@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main: #93C5FD;
    --main-light: #E3F0FF;
    --white: #ffffff;
    --black: #000000;
    --purple: #C5ADEB;
    --light-purple: #e2d6f5;
    --green: #9AEDB6;
    --orange: #FDC474;
}

h1 {
    color: #000;
    font-family: Mochiy Pop One;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #000;
    font-family: Mochiy Pop One;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #000;
    font-family: Mochiy Pop One;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    color: #000;
    font-family: Mochiy Pop One;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #000;
    font-family: Mochiy Pop One;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Reset some default styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;   
    color: var(--black);
}

.orange-input {
    font-family: Mochiy Pop One;
    width: 100%;
    height: auto;
    border-bottom: 3px solid var(--orange);
}

:focus-visible {
    outline: none;
}

.bg-white {
    background-color: var(--white);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-light-purple {
    background-color: var(--light-purple);
}

.button-orange {
    border-radius: .5rem;
    background-color: var(--orange);
}

.name-plate {
    border-radius: 0rem 1.25rem 1.25rem 0rem;
    background: #FFF;
}


